:root {
    --primary-color: #d0021b;
    --secondary-color: #515457;
    --tertiary-color: #dc3545;
    --text-color: #333333;
}

.career-subsection {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: left;
}

.career-subsection h2 {
    margin-bottom: 20px;
    color: var(--primary-color);
}

.career-subsection p {
text-align: justify;
font-size: 1.1rem;
margin-top: 50px;
color: var(--text-color);
}

